.card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fff;
    height: auto;
    width: 1200px;
    margin: auto;
    margin-top: 30px;
    /* margin: auto 8px 16px auto; */
    /* padding: 16px; */
    
}

.title{
    margin-top: 120px;
    margin-left: 120px;
    width: 120px;
}
.save{
    margin-right: 150px;
    margin-top: 15px;
    width: 140px;
}
button {
    border: none;
    outline: none;
}
.mt{
    margin-top: 15px;
}